/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --body-color-dark: #0f172a;
  --body-color-light: #f5f7f8;
  --primary-color: #2196f3;
  --secondary-color: #757de8;
  --accent-color: #3f51b5;
  --dark-color: #3d3c42;
  --light-color: #fff6f6;
  --positive-color: #21ba45;
  --negative-color: #c10015;
  --info-color: #31ccec;
  --warning-color: #f2c037;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --h1-font-size: 9.6rem;
  --h2-font-size: 6rem;
  --h3-font-size: 4.8rem;
  --h4-font-size: 3.4rem;
  --h5-font-size: 2.4rem;
  --h6-font-size: 2rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;

  /*========== Font weight ==========*/
  --font-thin: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;

  /*========== Margins ==========*/
  --m-xs: 0.4rem;
  --m-sm: 0.8rem;
  --m-md: 1.6rem;
  --m-lg: 2.4rem;
  --m-xl: 4.8rem;

  /*========== Paddings ==========*/
  --p-xs: 0.4rem;
  --p-sm: 0.8rem;
  --p-md: 1.6rem;
  --p-lg: 2.4rem;
  --p-xl: 4.8rem;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color-dark);
  color: var(--light-color);
}

main {
  display: grid;
  margin: 0 auto;
  max-width: 1280px;
  padding: 4.8rem 2.4rem;
}

input {
  font-family: var(--body-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 0 0 10rem;
}

.title-container {
  text-align: center;
  margin-bottom: var(--m-xl);
}

.section__title {
  display: inline-block;
  width: fit-content;
  font-size: var(--h5-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  text-align: center;
  line-height: 28px;
  padding: 0.4rem 0;
  border-bottom: 2px solid var(--primary-color);
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: var(--m-md) var(--p-lg);
}

/*=============== NAV ===============*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__logo {
  transition: opacity 0.3s ease;
}

.nav__logo:hover {
  opacity: 0.9;
}

.nav__logo-img {
  width: 3.4rem;
}

.nav__settings {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav__settings i {
  font-size: 2.8rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav__settings i:hover {
  color: var(--primary-color);
}

.nav__link,
.nav__logo,
.nav__toggle,
.nav__close {
  color: var(--light-color);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--body-color-dark);
    top: -150%;
    left: 0;
    padding: 3.5rem 0;
    transition: 0.4s;
    z-index: 100;
    border-radius: 0 0 16px 16px;
    height: 100vh;
  }
}

.nav__img {
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__close {
  font-size: 3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.nav__link {
  font-size: var(--normal-font-size);
  color: var(--light-color);
  font-weight: var(--font-medium);
  transition: 0.3s ease;
  cursor: pointer;
}

.nav__link:hover {
  font-size: 1.8rem;
  font-weight: var(--font-bold);
  opacity: 0.9;
}

/* Show menu */
.show-menu {
  top: 0;
}

/* Change background header */
.scroll-header {
  background-color: var(--body-color-dark);
  border-bottom: 2px solid #2196f3;
}

/* Active link */
.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

/*==================== HOME ====================*/
.home {
  padding-top: 8.3rem;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.home__photo {
  width: 160px;
  height: 160px;
  border-radius: 160px;
}

.home__title {
  margin-bottom: var(--m-md);
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
  letter-spacing: -0.4px;
  line-height: 40px;
  text-align: center;
  text-wrap: balance;
}

.home__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  font-size: var(--h6-font-size);
  font-weight: var(--font-medium);
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: center;
  margin-bottom: var(--m-lg);
  opacity: 0.9;
}

.home__subtitle span:nth-child(2) {
  display: none;
}

.home__description {
  position: relative;
  color: #94a3b8;
  font-size: 16px;
  font-weight: var(--font-regular);
  line-height: 26px;
  box-sizing: border-box;
  padding: 16px 0 16px 0;
  text-wrap: balance;
  margin-bottom: 3rem;
}

.home__description::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 25%;
  border-bottom: 2px solid var(--primary-color);
}

.home__description::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 25%;
  border-bottom: 2px solid var(--primary-color);
}

.home__description span {
  color: var(--light-color);
  font-weight: var(--font-medium);
}

.home__social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: var(--m-lg);
}

.home__social a {
  font-size: var(--h4-font-size);
  color: var(--light-color);
  transition: color 0.3s ease;
}

.home__social a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.home__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.home__buttons .button {
  width: 100%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  background-color: var(--accent-color);
  border-radius: 8px;
  border: none;
  color: var(--light-color);
  padding: 16px 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home__buttons .button:hover {
  background-color: #4a5ecf;
}

/*==================== EXPERIENCE ====================*/
/*==================== PROJECTS ====================*/
.projects__container {
  margin-top: var(--m-xl);
  text-align: center;
}

.projects__content {
  display: grid;
  place-items: center;
  margin-bottom: 5.6rem;
}

.card__container {
  display: grid;
  row-gap: 56px;
}

.card__article {
  position: relative;
  overflow: hidden;
  box-shadow: rgba(43, 46, 48, 0.2) 0px 8px 24px;
  border-radius: 24px;
}

.card__img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 300px;
  border-radius: 24px;
  object-fit: cover;
}

.card__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: var(--body-color-light);
  padding: 24px 32px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 16px;
  position: absolute;
  bottom: -144px;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
  text-align: start;
}

.card__badges {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: var(--m-sm);
}

.card__description {
  width: fit-content;
  font-size: var(--smaller-font-size);
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 999px;
  padding: var(--p-xs) var(--p-sm);
}

.card__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--dark-color);
  margin-bottom: 1.2rem;
}

.card__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card__button {
  font-size: 27px;
  color: var(--accent-color);
  transition: color 0.3s ease;
  text-decoration: none;
}

.card__button:hover {
  color: #4f68f5;
}

.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

@keyframes show-data {
  50% {
    transform: translateY(-160px);
  }

  100% {
    transform: translateY(-112px);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-112px);
  }

  50% {
    transform: translateY(-160px);
  }

  100% {
    transform: translateY(0.8px);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }

  50% {
    overflow: hidden;
  }
}

.project-link span {
  color: var(--light-color);
  font-size: var(--normal-font-size);
}

.project-link:hover span {
  text-decoration: underline var(--light-color);
  text-underline-offset: var(--m-sm);
}

.project-link i {
  display: inline-block;
  color: var(--light-color);
  font-size: var(--normal-font-size);
  transition: transform 0.3s ease-in-out;
  margin-left: var(--m-xs);
}

.project-link:hover i {
  transform: translate(4px, -4px);
}

/*==================== ALL PROJECTS ====================*/
.grid__container {
  padding-top: 8.3rem;
}

.back-home {
  display: flex;
  align-items: center;
  margin-bottom: var(--m-sm);
}

.back-home span {
  color: var(--primary-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 20px;
}

.back-home:hover span {
  text-decoration: underline var(--primary-color);
  text-underline-offset: var(--m-sm);
}

.back-home i {
  display: inline-block;
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  transition: transform 0.3s ease-in-out;
  margin-right: var(--m-xs);
}

.back-home:hover i {
  transform: translateX(-4px);
}

.all-projects-container .title {
  font-size: var(--h4-font-size);
  letter-spacing: -1.2px;
  line-height: 48px;
  margin-bottom: var(--m-xl);
}

#wrapper td:last-child {
  display: none;
}

#wrapper th:last-child {
  display: none;
}

/* Projects table */
.gridjs-wrapper {
  box-shadow: none;
}

.table__tbody {
  background-color: transparent !important;
}

.table__tbody--th {
  font-size: var(--small-font-size);
  background-color: transparent !important;
  color: var(--light-color) !important;
  opacity: 0.9;
  font-weight: var(--font-semi-bold);
  border: none !important;
  border-bottom: 1px solid #fff6f618 !important;
  padding-left: 0 !important;
}

.table__tbody--td {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid #fff6f618 !important;
  padding-left: 0 !important;
}

/* Column type */
.table__tbody--type {
  color: var(--light-color);
  opacity: 0.7;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium-bold);
}

/* Column project */
.table__tbody--project {
  color: var(--light-color);
  opacity: 0.9;
  font-weight: var(--font-semi-bold);
}

.table__tbody--project:hover {
  color: var(--primary-color);
  opacity: 1;
}

.table__tbody--project i {
  display: inline-block;
  color: var(--light-color);
  font-size: var(--normal-font-size);
  transition: transform 0.3s ease-in-out;
  margin-left: var(--m-sm);
}

.table__tbody--project:hover i {
  color: var(--primary-color);
  transform: translate(4px, -4px);
}

/* Column skills */
.table__tbody--skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.table__tbody--badge {
  width: fit-content;
  background-color: var(--accent-color);
  border-radius: 999px;
  color: var(--light-color);
  font-size: var(--smaller-font-size);
  padding: var(--p-xs) var(--p-sm);
}

.table__footer {
  font-size: var(--small-font-size);
  background-color: transparent !important;
  border-top: none;
  box-shadow: none;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.table__pagination {
  font-size: var(--small-font-size);
  color: var(--light-color);
}

.table__pagination--button {
  background-color: transparent !important;
  color: var(--light-color) !important;
}

.table__pagination--button--current {
  color: var(--primary-color) !important;
}

/*==================== SKILLS ====================*/
.skills {
  overflow-x: hidden;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  width: max-content;
}

.slide-track {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  display: flex;
}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 12));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 12));
  }
}
/*==================== CONTACT ====================*/
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
}

.contact__items .item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact__items .item i {
  font-size: var(--h5-font-size);
  color: var(--primary-color);
}

.contact__items .item span {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 28px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  text-wrap: balance;
  opacity: 0.9;
}

.contact__social {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: center;
}

.contact__social a {
  font-size: var(--h4-font-size);
  color: var(--light-color);
  transition: color 0.3s ease;
}

.contact__social a:hover {
  cursor: pointer;
  color: var(--primary-color);
}

/*==================== FOOTER ====================*/
.footer p {
  font-size: var(--small-font-size);
  text-align: center;
  text-wrap: balance;
  margin: auto;
  padding: 0 2.4rem 4.8rem 2.4rem;
}

/*==================== SCROLL UP ====================*/
.scrollup {
  position: fixed;
  right: 1.6rem;
  bottom: -20%;
  background-color: var(--accent-color);
  padding: 0 0.48rem;
  border-radius: 6.4px;
  z-index: 10;
  transition: 0.4s;
}

.scrollup:hover {
  background-color: #4a5ecf;
}

.scrollup__icon {
  font-size: var(--h5-font-size);
  color: var(--light-color);
}

/* Show scroll */
.show-scroll {
  bottom: 8rem;
}

/*==================== BREAKPOINTS ====================*/
/* For small devices */
@media (max-width: 375px) {
  .card__data {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

@media (min-width: 425px) {
  .contact__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }

  .card__data {
    width: 90%;
  }
}

/* For medium devices */
@media (min-width: 768px) {
  .header {
    padding: var(--p-md) var(--p-xl);
  }

  .main {
    padding: 4.8rem;
  }

  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 48px;
  }

  .card__img {
    height: 400px;
  }

  .contact__container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .all-projects-container .title {
    font-size: var(--h3-font-size);
  }

  #wrapper td:last-child {
    display: table-cell;
  }

  #wrapper th:last-child {
    display: table-cell;
  }
}

/* For large devices */
@media (min-width: 1024px) {
  .nav__img,
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
  }

  .nav__link {
    text-transform: initial;
    font-weight: initial;
  }

  .home__container {
    flex-direction: row;
    gap: 48px;
  }

  .home__photo {
    width: 250px;
    height: 250px;
  }

  .home__title {
    text-align: start;
  }

  .home__subtitle {
    flex-direction: row;
    align-items: start;
    gap: 16px;
  }

  .home__subtitle span:nth-child(2) {
    display: inline;
  }

  .home__description {
    width: 548px;
  }

  .home__description br {
    display: none;
  }

  .home__links {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 24px;
  }

  .home__social {
    margin-bottom: 0;
  }

  .home__buttons {
    flex-direction: row;
  }

  .home__buttons .button {
    width: 200px;
    flex-direction: row;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card__img {
    width: 438px;
    border-radius: 24px;
  }
}

@media (min-width: 1440px) {
  .nav {
    padding-left: var(--p-xl);
    padding-right: var(--p-xl);
    margin: auto;
  }
  .main {
    margin: auto;
  }

  .home__photo {
    width: 300px;
    height: 300px;
  }
}
