/*==================== VARIABLES CSS ====================*/
:root {
  /*========== Colors ==========*/
  --body-color-dark: #0f172a;
  --body-color-light: #f5f7f8;
  --primary-color: #2196f3;
  --secondary-color: #757de8;
  --accent-color: #3f51b5;
  --dark-color: #3d3c42;
  --light-color: #fff6f6;
  --positive-color: #21ba45;
  --negative-color: #c10015;
  --info-color: #31ccec;
  --warning-color: #f2c037;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;

  --h1-font-size: 9.6rem;
  --h2-font-size: 6rem;
  --h3-font-size: 4.8rem;
  --h4-font-size: 3.4rem;
  --h5-font-size: 2.4rem;
  --h6-font-size: 2rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.2rem;

  /*========== Font weight ==========*/
  --font-thin: 200;
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-bolder: 800;

  /*========== Margins ==========*/
  --m-xs: 0.4rem;
  --m-sm: 0.8rem;
  --m-md: 1.6rem;
  --m-lg: 2.4rem;
  --m-xl: 4.8rem;

  /*========== Paddings ==========*/
  --p-xs: 0.4rem;
  --p-sm: 0.8rem;
  --p-md: 1.6rem;
  --p-lg: 2.4rem;
  --p-xl: 4.8rem;
}

/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color-dark);
  color: var(--light-color);
  padding: 4.8rem 2.4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
  padding: 0 0 10rem;
}

.title-container {
  text-align: center;
}

.section__title {
  display: inline-block;
  width: fit-content;
  font-size: var(--h5-font-size);
  font-weight: var(--font-medium);
  color: var(--title-color);
  text-align: center;
  line-height: 28px;
  padding: 0.4rem 0;
  border-bottom: 2px solid var(--primary-color, #2196f3);
}

/*==================== HOME ====================*/
.home__title {
  margin-bottom: var(--m-md);
  font-size: var(--h4-font-size);
  font-weight: var(--font-bold);
  letter-spacing: -0.4px;
  line-height: 40px;
  text-align: center;
}

.home__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--h6-font-size);
  font-weight: var(--font-medium);
  line-height: 28px;
  letter-spacing: -0.2px;
  text-align: center;
}

/*==================== EXPERIENCE ====================*/
/*==================== PROJECTS ====================*/
.projects__container {
  margin-top: 4.8rem;
  text-align: center;
  cursor: pointer;
}

.project-link span {
  color: var(--light-color);
  font-size: var(--normal-font-size);
}

.project-link:hover span {
  text-decoration: underline var(--light-color);
  text-underline-offset: var(--m-sm);
}

.project-link i {
  display: inline-block;
  color: var(--light-color);
  font-size: var(--normal-font-size);
  transition: transform 0.3s ease-in-out;
  margin-left: var(--m-xs);
}

.project-link:hover i {
  transform: translate(4px, -4px);
}

/*==================== ALL PROJECTS ====================*/
.back-home {
  display: flex;
  align-items: center;
  margin-bottom: var(--m-sm);
}

.back-home span {
  color: var(--primary-color);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 20px;
}

.back-home:hover span {
  text-decoration: underline var(--primary-color);
  text-underline-offset: var(--m-sm);
}

.back-home i {
  display: inline-block;
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  transition: transform 0.3s ease-in-out;
  margin-right: var(--m-xs);
}

.back-home:hover i {
  transform: translateX(-4px);
}

.all-projects-container .title {
  font-size: var(--h4-font-size);
  letter-spacing: -1.2px;
  line-height: 48px;
  margin-bottom: var(--m-xl);
}

.gridjs-wrapper {
  box-shadow: none;
}

.table__tbody {
  background-color: transparent !important;
}

.table__tbody--th {
  font-size: var(--small-font-size);
  background-color: transparent !important;
  color: var(--light-color) !important;
  opacity: 0.9;
  font-weight: var(--font-semi-bold);
}

.table__tbody--td {
  background-color: transparent !important;
}

.table__tbody--project {
  color: var(--light-color);
  opacity: 0.9;
  font-weight: var(--font-semi-bold);
}

.table__tbody--project:hover {
  color: var(--primary-color);
  opacity: 1;
}

.table__tbody--project i {
  display: inline-block;
  color: var(--light-color);
  font-size: var(--normal-font-size);
  transition: transform 0.3s ease-in-out;
  margin-left: var(--m-sm);
}

.table__tbody--project:hover i {
  color: var(--primary-color);
  transform: translate(4px, -4px);
}
